# PRODUCTION ENVIRONMENT VARIABLES
# Veritabanı bağlantı linki (Production için)
DATABASE_URL="postgresql://user:password@host:5432/dbname?schema=public"

# NextAuth Gizli Anahtarı (Production için rastgele oluşturulmalı, örn: openssl rand -base64 33)
AUTH_SECRET="your-super-secret-key-here"

# Projenin çalışacağı alan adı
NEXT_PUBLIC_APP_URL="https://ozeldesal.com"
